:root {
  --heading-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --gray-accent-color: #afb1b8;
}

/* social links */

.svg-list {
  display: flex;
  list-style: none;
  /* outline: 1px solid black; */
  margin: 0;
  padding: 0;
  /* justify-content: center; */
}

.svg-list .social + .social {
  margin-left: 10px;
}

.svg-item {
  display: flex;
  padding: 0;
  color: var(--gray-accent-color);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  align-items: center;
  justify-content: center;
}

.svg {
  fill: currentColor;
}

.svg-item:hover {
  background-color: #2196f3;
  color: #ffffff;
}

/* company  */

.company-list .company + .company {
  margin-left: 30px;
}

.company-list {
  display: flex;
  justify-content: ;
  list-style: none;
  margin: 0;
  padding: 0;
}

.svg-company {
  fill: currentColor;
}

.link-company {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: var(--gray-accent-color);
}

.link-company:hover {
  border: 1px solid #2196f3;
  color: #2196f3;
}
